.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url('../../assets/images/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.headerDashboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  color: white;
  display: flex;
  font-size: 1.5rem;
}
.interHeader1{
  display: flex;
  align-items: center;
  margin-left: 20px;
  gap: 10px;
}
.logoMuni{
  width: 50px;
  border-radius: 50%;
  margin-top: 10px;
} 
.interHeader1 h2{
  font-size: 25px;
  margin-top: 20px;
  margin-left: 5px;
}
.interHeader2{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}
.btnUser{
  background: transparent;
  border: none;
  cursor: pointer;
  margin-top: 1px;
}
.logoUser{
  width: 35px;
  border-radius: 50%;
  filter: brightness(0) invert(1);
}







.dashboard-container h1 {
  margin-bottom: 1rem;  
  font-size: 3.3rem;
}

.dashboard-container p {
  font-size: 1.3rem;
}

/* Clases para transiciones de fade */
.fade-transition {
  transition: opacity 2s ease-out;
  text-align: center;
}

.fade-visible {
  opacity: 1;
  visibility: visible;
}

.fade-hidden {  
  opacity: 0;
  visibility: hidden;
  display: none;
}

.contentPDFUp {
  background: rgba(103, 103, 103, 0.6);   
  padding: 20px;
  height: 70vh;
  width: 40vw;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


/* contenedor de PDF */

.contentPDFUp {
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.contentPDFIcon {
  width: 100px;
  height: 100px;
  background-image: url('../../assets/images/pdf.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}   
.contentPDFText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
} 