/* Fondo general */
.content-fondo{
  background-image: url('../../assets/images/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Alexandria', sans-serif;
}

.login-container {
  height: 100vh;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(94, 94, 94, 0.397);
}

/* Contenedor Logo*/

.inter-content-login{
  width: 50%;
  height: 100%;
}
.tamano1{
  height: 450px;
  padding: 0% 3% 0% 9%;
}
.tamano2{
  height: 550px;
  padding: 0 9% 0 3%;
}

.content-logoAndText{
  height: 100%;
}
.flexDisplay{
  display: flex;
  align-items: center;
  height: 55%;
  padding: 30px 10px;
}
.content-logo{
  height: 100%;
  width: 30%;
  margin-right: 15px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.logoLogin{
  height: 100%;
  width: auto;
}
.flexDisplay h1{
  font-size: 4.3rem;
  font-weight: 700;
  width:  70%;
  color: white;
}
.content-parrafo{
  height: 32%;
  color: white;
  padding: 10px;
  font-size: 135%;
  font-weight: 500;
  text-align: justify;
}
.content-socialmedia{
  height: 13%;
  display: flex; 
  align-items: center;
}
.socialmedia{
  font-size: 2.5rem;
  color: white;
  margin-right: 18px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.logoSocial{
  width: 100%;
  height: auto;
}


/* Contenedor Formulario*/

.login-form{
  width: 100%;
  height: 100%;
  padding: 10px;
  color: white;
}
.content-user-login{
  width: 100%;
}
.tamano3{
  height: 15%;
  justify-content: center;
  text-align: center;
  padding: 20px
}
.tamano3 h2{
  font-size: 38px;
}
.tamano4{
  height: 20%;
  display: block;
  justify-content: left;
  text-align: left;
  padding: 10px
}
.tamano4 p{
  margin-bottom: 5px;
  font-size: 21px;
}

.tamano5{
  display: flex;
  height: 10%;
  align-items: center;
  padding: 10px;
}
.tamano5 input{
  width: 25px;
  height: 20px;
  font-size: 30px;
  margin-right: 10px;
  font-size: 20px;
}
.tamano5 p{
  margin-top: 17px;
}

.tamano6{
  height: 18%;
  display: flex;
  align-items: center;
  padding: 10px;
}

.tamano6 button{
  color: white;
  border: #995727 solid 2px;
  border-radius: 8px;
  background-color: #AF6918;
  width: 230px;
  font-size: 20px;
  font-weight: 500;
}
.tamano6 button:hover{
  color: #645f5c;
  border: #d87833 solid 5px;
  border-radius: 8px;
  background-color: #f8a84c;
  width: 250px;
  font-size: 20px;
  font-weight: 800;
  margin-left: -10px;
}

.tamano7{
  height: 19%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  text-align: center;
  font-size: 19px;
}


/* Estilos Media*/

@media (max-width: 1800px) {
  .tamano1{
    padding: 0% 3% 0% 5%;
  }
  .tamano2{
    padding: 0 5% 0 3%;
  }
}
@media (max-width: 1500px) {
  .tamano1{
    padding: 0% 3% 0% 2%;
  }
  .tamano2{
    padding: 0 2% 0 3%;
  }
  .flexDisplay h1{
    font-size: 3.7rem;
  }
}

@media (max-width: 1300px) {
  .flexDisplay h1{
    font-size: 2.7rem;
  }
  .content-parrafo{
    font-size: 110%;
    height: 41%;
  }
}

@media (max-width: 1010px) {
  .tamano7{
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  .tamano1{
    padding: 0% 5%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .logoLogin{
    height: 80%;
    width: auto;
  }


  .tamano2{
    padding: 0% 5%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .login-container {
    display: block;
    overflow: auto;

  }
  .inter-content-login{
    width: 100%;
    display: flex;
  }
  .content-logoAndText, .login-form{
    height: 50%;
  }
}

@media (max-width: 650px) {
   .tamano1{
    padding: 0% 5%;
  }
  .content-parrafo{
    font-size: none;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .content-logoAndText{
    height: 60%;
    text-align: center;
  }
  .login-form{
    height: 70%;
  }
  .flexDisplay{
    display: block;
  }
  .content-logo, .flexDisplay h1{
    height: 45%;
    width: 100%;
  }
  .content-parrafo{
    height: 28%;
  }
}
@media (max-height: 1010px) {
  .tamano2{
    padding: 5px;
  }
  .flexDisplay{
    padding: 5px;
  }
  .content-logo{
    height: 60%;
  }
  .flexDisplay h1{
    height: 40%;
  }

}

@media (max-height: 900px) {
  .content-logoAndText{
    height: 70%;
  }
  .flexDisplay{
    padding: 5px;
  }
  .content-logo{
     height: 60%;
  }
  .flexDisplay h1{
    font-size: 2.2rem;
    height: 40%;
  }

  .content-parrafo{
     font-size: 17px;
  }
}

@media (max-height: 700px) {
  .content-logoAndText{
    height: 85%;
  }
  .flexDisplay{
    padding: 5px;
    height: 50%;
  }
  .content-logo{
    height: 60%;
  }
  .flexDisplay h1{
    height: 40%;
    font-size: 2.0rem;
  }
  .content-parrafo{
    font-size: 15px;
    height: 25%;
  }
}