/* Fondo general */
.login-container {
  height: 100vh;
  margin: 0;
  background-image: url();
  font-family: Arial, sans-serif;
}

.colortest {
  border: red solid 2px;
}

.limitCol{
  max-width: 600px;
}

/* Caja del formulario */
.login-form {
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  border: red solid 2px ;
}

/* Título */
.login-form h2 {
  margin-bottom: 1.5rem;
  color: #333;
}
