/* Fondo general */
.login-container {
  height: 100vh;
  margin: 0;
  background-image: url();
  font-family: Arial, sans-serif;
}

.colortest {
  border: red solid 2px;
  max-width: 600px;
}
.limitCol0{
  border: green solid 2px;
  max-width: 1200px;
}

.limitCol{
  max-width: 600px;
  border: blue solid 2px;
}

/* Caja del formulario */
.login-form {
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  border: red solid 2px ;
}

/* Título */
.login-form h2 {
  margin-bottom: 1.5rem;
  color: #333;
}
.flexDisplay{
  display: flex;
  align-items: center;
  gap: 20px;
}
.logoLogin
{
  max-width: 200px;
}